<%= render 'shared/aside'%>

<div id="content" class="app-content box-shadow-z3" role="main">

  <%= render 'shared/header'%>

    <div class="app-footer">
      <div class="p-2 text-xs">
        <div class="pull-right text-muted py-1">
          © Copyright <strong>Driversnote</strong> <span class="hidden-xs-down">- Built with care</span>
          <a ui-scroll-to="content"><i class="fa fa-long-arrow-up p-x-sm"></i></a>
        </div>
        <div class="nav">
          <a class="nav-link" href="../">About</a>
          <a class="nav-link" href="http://themeforest.net/user/flatfull/portfolio?ref=flatfull">Get it</a>
        </div>
      </div>
    </div>
    <div class="app-body" id="view">




<!-- ############ PAGE START-->
<div class="padding">

<% if user_signed_in? %>
 

 <% if (current_user.subscription_seats == 0 ) || (current_user.subscription_seats == nil)%>

 <div class="alert alert-danger" role="alert">Please upgrade to a paid subscription. You dont have a subscription seats. </div>
 
<% else %>

<%= render 'flow' %>

 <% end %>

 <% end %>

</div>


<!-- ############ PAGE END-->





    </div>
  </div>
