<nav ui-nav>
  <ul class="nav">
    <li class="no-bg">
      <a>
        
        <span class="nav-text">
         <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        </span>
      </a>
    </li>
  </ul>
</nav>
