<% if  (!current_page?(new_user_session_path) && !current_page?(new_user_registration_path)) then %> 
  
  <%= render 'shared/navbar' %>  

  <% end %>



  <section id="home" name="home">
    <div id="headerwrap">
      <div class="container">
        <div class="row centered">
          <div class="col-lg-12">
            <h1>Welcome To <b>iBeacons</b></h1>
            <h3>Share and discover your mileage. Put your trip logs on autopilot</h3>
            <br>
          </div>

          <div class="col-lg-2">
            <h5>Snap Track</h5>
            <p>The easiest way to track mileage within the car industry.</p>
            <img class="hidden-xs hidden-sm hidden-md" src="/assets/images/arrow1.png">
          </div>
          <div class="col-lg-8">
            <img class="img-responsive" src="/assets/images/driversnote-cllip.png" alt="">
          </div>
          <div class="col-lg-2">
            <br>
            <img class="hidden-xs hidden-sm hidden-md" src="/assets/images/arrow2.png">
            <h5>Log in car routes</h5>
            <p> The simplest way to keeping records of car vehicle usage.</p>
          </div>
        </div>
      </div>
      <!--/ .container -->


<br>
<br>
<br>

<br>
    </div>
    <!--/ #headerwrap -->
  </section>